* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b1020;
    color: white;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background: #111827;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 28px;
  font-weight: bold;
}

.logo img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.back-btn {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.back-btn:hover {
    background: white;
    color: black;
}

/* Header */
header {
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

header p {
    opacity: 0.8;
    font-size: 18px;
}

/* Filters */
.filters {
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
}

.filters button {
    padding: 12px 22px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.filters button:hover {
    transform: scale(1.05);
}

/* Masonry Layout */
.gallery {
    column-count: 4;
    column-gap: 20px;
    padding: 20px 40px;
}

.image-card {
    margin-bottom: 20px;
    break-inside: avoid;
    overflow: hidden;
    border-radius: 15px;
    background: #161d35;
    padding: 10px;
}

/* Keeps actual image size */
.image-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.image-card img:hover {
    transform: scale(1.04);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 85vh;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    cursor: pointer;
}

.prev,
.next {
    position: absolute;
    background: transparent;
    border: none;
    color: white;
    font-size: 45px;
    cursor: pointer;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}

/* Footer */
footer {
    text-align: center;
    padding: 25px;
    background: #111827;
    margin-top: 50px;
}

/* Tablet */
@media(max-width: 992px) {
    .gallery {
        column-count: 3;
    }
}

/* Mobile */
@media(max-width: 768px) {
    nav {
        padding: 20px;
    }

    .gallery {
        column-count: 1;
        padding: 20px;
    }

    header h1 {
        font-size: 30px;
    }

    .prev,
    .next {
        font-size: 35px;
    }
}